h1{
    color: red;
}

h2{
    color: blue;
}

h3{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: bold;
    background-color: yellow;
    display: inline-block;
    padding: 5px;
}
